body {
  margin: 0;
  font-family: 'Amatic SC';
  font-weight: normal;
}

/* header */
.background-flower {
  position: absolute;
  z-index: auto;
}

.logo {
  width: 75%;
  position: absolute;
  z-index: 1;
  margin: 45px 40px 0;
}

nav {
  position: absolute;
  z-index: 2;
  margin: 330px 35px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav a {
  background-color: rgba(200, 205, 160, 0.9);
  color: #fff;
  text-decoration: none;
  font-size: 23px;
  padding: 10px;
  border-radius: 7px;
}

.semences-link {
  padding: 10px 25px;
}

.contact-link {
  padding: 10px 60px;
}

h1, nav a {
  font-family: 'Cinzel Decorative';
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* society description */
.society-opening {
  padding-top: 600px;
}

.society-title {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(5px);
  font-size: 25px;
  border-top: #fff solid 2px;
  border-bottom: #fff solid 2px;
  position: absolute;
  z-index: 1;
  top: 950px;
  padding: 20px 30px;
}

